#panaderia{
    .imgg{
        background-image: url(../img/);
           background-size: cover;
           background-position: center center;
           height: 270px;
           width: 300px;
           border-radius: 50px;
           
    }
    background-color: black;
    color: white;
    h5{
        text-align: center;
    }
}
#mercaderia{
    h5{
        text-align: center;
    }
}
#bebidas{
    background-color: black;
    color: white;
    h5{
        text-align: center;
    }
}
#revendedores{
    h5{
        text-align: center;
    }
}