.acerca{
background-color: black;    

    h2{
       text-align: center;
       color: orangered;
       margin: 0;
    }
    p{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(250, 136, 94);
    }
    h3{
        text-align: center;
        color: orangered;
    }
    img{
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}