.ubi{
    margin: 0;
    text-align: center;
    color: rgba(247, 77, 10, 0.897);
    b{color: rgb(255, 0, 0);}
}
.ubi__PRIN{
    background-color: black;
    p{color: rgb(247, 245, 244);
    text-align: center;}
    ul{
        margin: 0;
        background-color: rgb(228, 69, 6);
        color:rgba(255, 72, 0, 0.897);
        
        li{
            display: inline;
            padding:5px;
            color: black;
            b{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color:rgb(0, 0, 0) ;}
        }
    }
}
.ubicacion{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($colores, secundario );
}